* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Carter One', cursive;
  background-color: #d69091;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  height: auto;
}

.Todo-app-container {
  width: 1166px; 
  height: 785px;
  background-size: cover;
  background-image: url("bunny.png");
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  top: 94;
  left: 165;
  text-align: center;
  background-color: #e9cece;
  opacity: 0.4;
  padding: 30px;
  border-radius: 46px;
  border: 1px;
h1 {
  color: #730002;
  font-family: 'Carter One', cursive;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 1px;
}

.input-p {
  background-color: #f0dedefa;
  border-radius: 50px;
  padding: 12px 16px;
  margin-bottom: 10px;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.input-p input {
  background-color: #f0dedefa;
  padding: 1px 1px;
  margin-bottom: 10px;
  border-radius: 1px;
  color: #c08d8d;
  border: #000000;
  font-weight: 400;
  line-height: 100%; 
  letter-spacing: 0%;
  flex: 1;
  font-size: 22px;
  font-family: 'Reem Kufi Ink', sans-serif;
}

.add {
  background-color: #FFFFFF;
  border: none;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  margin-left:333;
  margin-left: 0px;
  font-size: 25px;
  color: #f08e8e;
  cursor: pointer;
}

.succ {
  height: 30px;
  left: 615px;
  font-size: 20px;
  color: #730002;
  font-family: 'Reem Kufi Ink', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 22px;
  
}

.app-task-l{
  list-style: none;
  text-align: left;
  padding: 0;

}

.app-task-l li {
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 12px;
  background: #f0dedefa;
  font-family: 'Reem Kufi Ink', sans-serif;
  font-weight: 400;
  display: flex;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 4%;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.app-task-l li.done span:first-child {
  text-decoration: line-through;
  color: #000000;   font-family: 'Reem Kufi Ink', sans-serif;
}
.edit {
  width: 53px;
  height: 45px;
  top: 573px;
  left: 1008px;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
}
.delete  {
  width: 55px;
  height: 44px;
  top: 570px;
  left: 943px;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
}
.bunny {
  width: 390px;
  height: auto;
  display: block;
  margin: 0 auto
}
@media (max-width: 570px) {
  .Todo-app-container {
    width: 100%;
    height:100%;
    margin: 10px;
    display: flex;
  }

  h1 {
    font-size: 24px;
  }

  .app-task-l li,
  .input-p input {
    font-size: 16px;
  }

  .bunny {
    width: 250px;
  }
}
